h1 {
  font-size: 100px;
  color: red;
}

/*
img {
  background-color: red;
}
*/

.bacon {
  background-color: green;
}

.broccoli {
  background-color: red;
}

.topcontainer {
  background-color: red;
  height: 200px;
  width: 200px;
}

.middlecontainer {
  background-color: green;
  height: 200px;
  width: 200px;
}

.bottoncontianer {
  background-color: blue;
  height: 200px;
  width: 200px;
}
