body {
  margin: 0;
  text-align: center;
  font-family: 'Gemunu Libre', sans-serif;
}

h1 {
  font-size: 5.625em;
  font-family: 'Caveat', cursive;
  color: #66BFBF;
}

h2 {
  font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}

h3 {
  color: #11999E;
}

a {
  color: #11999E;
}

p {
  font-size: 20px;
}

.top-container {
  margin: 0;
  position: relative;
  background-color: #EAF6F6;
}

.middle-container {}

.bottom-container {}

.top-cloud {
  position: absolute;
  right: 100px;
  top: 100px;
}

.bottom-cloud {
  position: absolute;
}

.web-developer {
  font-weight: normal;
}

.skill-row {
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;
  line-height: 2;
}

.skill-to-learn {
  display: inline-block;
  position: relative;
  float: left;
}

.computer {
  width: 10%;
  float: left;
  margin-right: 30px;
}

.chillies {
  width: 10%;
  float: right;
  margin-left: 30px;
}

.whoiam {
  color: #40514E;
}

.line {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 7%;
  border-color: #66bfbf;
}
