body {
  margin: 0;
  text-align: center;
  sfont-family: 'Gemunu Libre', sans-serif;
}

h1 {
  padding: 0;
  margin-top: 50px;
  font-family: 'Caveat', cursive;
}

p {
  font-size: 16px;
}

.top-container {
  position: relative;
}

.middle-container {}

.bottom-container {}

.top-cloud {
  position: absolute;
  right: 400px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
}
